In [ ]:
# EDA + Cleaning + Descriptives for Planday Case Study
# ------------------------------------------------------------
# Input : "DA task.csv" (events-level)
# Output: Multiple CSVs for Power BI
# ------------------------------------------------------------

import pandas as pd
import numpy as np
from pathlib import Path
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
df = pd.read_csv("Bronze/DA task.csv")

In [171]:
df.dtypes

ORGANIZATION_ID    object
ACTIVITY_NAME      object
TIMESTAMP          object
CONVERTED            bool
CONVERTED_AT       object
TRIAL_START        object
TRIAL_END          object
dtype: object

In [172]:
df.count()

ORGANIZATION_ID    170526
ACTIVITY_NAME      170526
TIMESTAMP          170526
CONVERTED          170526
CONVERTED_AT        34235
TRIAL_START        170526
TRIAL_END          170526
dtype: int64

In [173]:
df.isna().sum()

ORGANIZATION_ID         0
ACTIVITY_NAME           0
TIMESTAMP               0
CONVERTED               0
CONVERTED_AT       136291
TRIAL_START             0
TRIAL_END               0
dtype: int64

In [174]:
unique_activities = df["ACTIVITY_NAME"].unique().tolist()
for activity in unique_activities:
    print(activity)

Scheduling.Shift.Created
Scheduling.Shift.AssignmentChanged
Communication.Message.Created
Mobile.Schedule.Loaded
Absence.Request.Created
Absence.Request.Approved
Scheduling.Availability.Set
Scheduling.Template.ApplyModal.Applied
PunchClockStartNote.Add.Completed
PunchClock.PunchedIn
PunchClock.Entry.Edited
Scheduling.Shift.Approved
ShiftDetails.View.Opened
Absence.Request.Rejected
Scheduling.OpenShiftRequest.Created
Scheduling.ShiftSwap.Created
PunchClockEndNote.Add.Completed
PunchClock.PunchedOut
Integration.Xero.PayrollExport.Synced
Timesheets.BulkApprove.Confirmed
Scheduling.ShiftHandover.Created
Scheduling.ShiftHandover.Accepted
Revenue.Budgets.Created
Break.Activate.Started
Break.Activate.Finished
Shift.View.Opened
Scheduling.OpenShiftRequest.Approved
Scheduling.ShiftSwap.Accepted

In [4]:
# Normalize column names
df.columns = [c.strip().upper() for c in df.columns]
df.head(5)

,ORGANIZATION_ID,ACTIVITY_NAME,TIMESTAMP,CONVERTED,CONVERTED_AT,TRIAL_START,TRIAL_END
0,0040dd9ab132b92d5d04bc3acf14d2e2,Scheduling.Shift.Created,2024-03-27 11:03:53.000,False,NaN,2024-03-27 10:11:39.000,2024-04-26 10:11:39.000
1,0040dd9ab132b92d5d04bc3acf14d2e2,Scheduling.Shift.Created,2024-03-27 11:04:52.000,False,NaN,2024-03-27 10:11:39.000,2024-04-26 10:11:39.000
2,0040dd9ab132b92d5d04bc3acf14d2e2,Scheduling.Shift.Created,2024-03-27 11:04:53.000,False,NaN,2024-03-27 10:11:39.000,2024-04-26 10:11:39.000
3,0040dd9ab132b92d5d04bc3acf14d2e2,Scheduling.Shift.Created,2024-03-27 11:05:18.000,False,NaN,2024-03-27 10:11:39.000,2024-04-26 10:11:39.000
4,0040dd9ab132b92d5d04bc3acf14d2e2,Scheduling.Shift.Created,2024-03-27 11:06:00.000,False,NaN,2024-03-27 10:11:39.000,2024-04-26 10:11:39.000

In [9]:
for col in ["TIMESTAMP", "CONVERTED_AT", "TRIAL_START", "TRIAL_END"]:
    df[col] = pd.to_datetime(df[col], format="%Y-%m-%d %H:%M:%S.%f", errors="coerce")
df.head(5)

,ORGANIZATION_ID,ACTIVITY_NAME,TIMESTAMP,CONVERTED,CONVERTED_AT,TRIAL_START,TRIAL_END
0,0040dd9ab132b92d5d04bc3acf14d2e2,Scheduling.Shift.Created,2024-03-27 11:03:53,False,NaT,2024-03-27 10:11:39,2024-04-26 10:11:39
1,0040dd9ab132b92d5d04bc3acf14d2e2,Scheduling.Shift.Created,2024-03-27 11:04:52,False,NaT,2024-03-27 10:11:39,2024-04-26 10:11:39
2,0040dd9ab132b92d5d04bc3acf14d2e2,Scheduling.Shift.Created,2024-03-27 11:04:53,False,NaT,2024-03-27 10:11:39,2024-04-26 10:11:39
3,0040dd9ab132b92d5d04bc3acf14d2e2,Scheduling.Shift.Created,2024-03-27 11:05:18,False,NaT,2024-03-27 10:11:39,2024-04-26 10:11:39
4,0040dd9ab132b92d5d04bc3acf14d2e2,Scheduling.Shift.Created,2024-03-27 11:06:00,False,NaT,2024-03-27 10:11:39,2024-04-26 10:11:39

In [6]:
df.describe()

,TIMESTAMP,CONVERTED_AT,TRIAL_START,TRIAL_END
count,170526,34235,170526,170526
mean,2024-03-01 03:55:17.990928128,2024-03-15 04:45:07.682839296,2024-02-17 20:55:27.597691904,2024-03-18 20:55:27.597691904
min,2024-01-01 20:52:26,2024-01-26 00:39:07,2024-01-01 15:21:50,2024-01-31 15:21:50
25%,2024-02-03 05:34:51,2024-02-24 11:39:05,2024-01-22 16:04:45,2024-02-21 16:04:45
50%,2024-03-05 13:33:58,2024-03-19 22:07:32,2024-02-22 02:00:58,2024-03-23 02:00:58
75%,2024-03-24 13:41:42.500000,2024-04-04 09:37:41,2024-03-13 14:15:09,2024-04-12 14:15:09
max,2024-04-28 15:10:31,2024-05-10 13:51:28,2024-03-30 21:01:15,2024-04-29 21:01:15

In [200]:
# Drop exact duplicate rows
df.drop_duplicates(inplace=True)


# Category mapping based on prefixes
def activity_category(name: str) -> str:
    if pd.isna(name):
        return "Unknown"
    s = str(name)
    # Scheduling & Shifts
    if s.startswith(
        (
            "Scheduling.",
            "Shift.",
            "ShiftDetails.",
            "Mobile.Schedule.",
            "Scheduling.Template.",
            "Scheduling.ShiftSwap.",
            "Scheduling.ShiftHandover.",
            "Scheduling.OpenShiftRequest.",
        )
    ):
        return "Scheduling & Shifts"
    # Absence
    if s.startswith("Absence."):
        return "Absence Management"
    # Time Tracking
    if s.startswith(
        (
            "PunchClock.",
            "Break.Activate.",
            "PunchClockStartNote.",
            "PunchClockEndNote.",
            "PunchClock.Entry.",
        )
    ):
        return "Time Tracking"
    # Approvals & Payroll
    if s.startswith(
        (
            "Scheduling.Shift.Approved",
            "Timesheets.BulkApprove.",
            "Integration.Xero.PayrollExport.",
        )
    ):
        return "Approvals & Payroll"
    # Financials
    if s.startswith("Revenue.Budgets."):
        return "Financials"
    # Communication
    if s.startswith("Communication."):
        return "Communication"
    return "Other"


df["ACTIVITY_CATEGORY"] = df["ACTIVITY_NAME"].apply(activity_category)

In [ ]:
# Flags events occurring within the trial period.
df["IN_TRIAL_WINDOW"] = (df["TIMESTAMP"] >= df["TRIAL_START"]) & (
    df["TIMESTAMP"] <= df["TRIAL_END"]
)
# Basic quality flags
df["HAS_TRIAL_DATES"] = df["TRIAL_START"].notna() & df["TRIAL_END"].notna()
df["HAS_TIMESTAMP"] = df["TIMESTAMP"].notna()

In [203]:
# Checks whether events occurred inside trial window or not
df["IN_TRIAL_WINDOW"].value_counts()

IN_TRIAL_WINDOW
True    102895
Name: count, dtype: int64

In [ ]:
# Checks whether timestamps are present or not
df["HAS_TIMESTAMP"].value_counts()

HAS_TIMESTAMP
True    102895
Name: count, dtype: int64

In [ ]:
# Checks whether trial start and end dates are present or not
df["HAS_TRIAL_DATES"].value_counts()

HAS_TRIAL_DATES
True    102895
Name: count, dtype: int64

In [204]:
# Removes temporary validation columns after confirming all values are correct
df.drop(columns=["HAS_TRIAL_DATES", "IN_TRIAL_WINDOW", "HAS_TIMESTAMP"], inplace=True)
df.head(5)

,ORGANIZATION_ID,ACTIVITY_NAME,TIMESTAMP,CONVERTED,CONVERTED_AT,TRIAL_START,TRIAL_END,ACTIVITY_CATEGORY
0,0040dd9ab132b92d5d04bc3acf14d2e2,Scheduling.Shift.Created,2024-03-27 11:03:53,False,NaT,2024-03-27 10:11:39,2024-04-26 10:11:39,Scheduling & Shifts
1,0040dd9ab132b92d5d04bc3acf14d2e2,Scheduling.Shift.Created,2024-03-27 11:04:52,False,NaT,2024-03-27 10:11:39,2024-04-26 10:11:39,Scheduling & Shifts
2,0040dd9ab132b92d5d04bc3acf14d2e2,Scheduling.Shift.Created,2024-03-27 11:04:53,False,NaT,2024-03-27 10:11:39,2024-04-26 10:11:39,Scheduling & Shifts
3,0040dd9ab132b92d5d04bc3acf14d2e2,Scheduling.Shift.Created,2024-03-27 11:05:18,False,NaT,2024-03-27 10:11:39,2024-04-26 10:11:39,Scheduling & Shifts
4,0040dd9ab132b92d5d04bc3acf14d2e2,Scheduling.Shift.Created,2024-03-27 11:06:00,False,NaT,2024-03-27 10:11:39,2024-04-26 10:11:39,Scheduling & Shifts

In [183]:
df["CONVERTED_AT"].value_counts()

CONVERTED_AT
2024-03-19 22:07:32    2794
2024-02-24 11:39:05    2122
2024-04-04 09:37:41    1675
2024-02-14 13:09:11    1338
2024-04-09 17:04:15    1101
                       ...
2024-01-26 00:39:07       1
2024-03-17 20:47:54       1
2024-03-25 08:13:34       1
2024-02-29 13:56:05       1
2024-04-16 20:30:42       1
Name: count, Length: 206, dtype: int64

In [ ]:
# Check if any organization was once marked as CONVERTED=True
# and later had CONVERTED=False in a subsequent record.

# Sort the dataframe by organization and timestamp to ensure chronological order
df_sorted = df.sort_values(["ORGANIZATION_ID", "TIMESTAMP"])


# Define a function to detect a conversion drop within an organization's history
def has_conversion_drop(group):
    converted_seen = False
    for val in group:
        if converted_seen and not val:
            return True
        if val:
            converted_seen = True
    return False


# Apply the check to each organization's CONVERTED status
conversion_reversal = (
    df_sorted.groupby("ORGANIZATION_ID")["CONVERTED"]
    .apply(has_conversion_drop)
    .rename("CONVERSION_REVERSED")
)

conversion_reversal.value_counts()

CONVERSION_REVERSED
False    966
Name: count, dtype: int64

In [185]:
# Only look at orgs with at least one True in CONVERTED
orgs_with_true = df.groupby("ORGANIZATION_ID")["CONVERTED"].any()

# Filter df to only those orgs
df_true_orgs = df[df["ORGANIZATION_ID"].isin(orgs_with_true[orgs_with_true].index)]

# Count unique CONVERTED_AT per org
converted_at_counts = (
    df_true_orgs.groupby("ORGANIZATION_ID")["CONVERTED_AT"]
    .nunique()
    .rename("UNIQUE_CONVERTED_AT_COUNT")
)

# Check which have more than 1 unique CONVERTED_AT
multiple_converted_at = converted_at_counts[converted_at_counts > 1]

multiple_converted_at

Series([], Name: UNIQUE_CONVERTED_AT_COUNT, dtype: int64)

In [205]:
# Count unique TRIAL_START values per company
trial_start_counts = (
    df.groupby("ORGANIZATION_ID")["TRIAL_START"]
    .nunique()
    .rename("UNIQUE_TRIAL_START_COUNT")
)

# Filter for companies with more than one unique TRIAL_START
multiple_trial_start = trial_start_counts[trial_start_counts > 1]

multiple_trial_start

Series([], Name: UNIQUE_TRIAL_START_COUNT, dtype: int64)

In [187]:
# Count how many times each org had CONVERTED = True
multiple_conversions = (
    df[df["CONVERTED"] == True]  # only converted rows
    .groupby("ORGANIZATION_ID")
    .size()
    .rename("CONVERTED_TRUE_COUNT")
)

# Filter for orgs with more than one "True"
multiple_conversions = multiple_conversions[multiple_conversions > 1]

multiple_conversions

ORGANIZATION_ID
014f83e0deae3ac42041a126f1022974     166
015f38565a692a85e2824e94926a12ef    2122
01842569c6942b80bce161f32bbfd53d     173
01f72f7e769498606ab1cc67d4869793     196
0230aaa200a6c33b10c198297beb8478     209
                                    ...
4ca121137053b1ee41b7a6be318a6366     775
4ce5c089f29c4cb7ec42f02fe244bf43      32
4d05b60096c72833c50bbb41d7904a17     370
4e03db56b8cad5be5bf59fdac60a5af1    2794
4e44f506184abb41230dca9183e0dfde     107
Name: CONVERTED_TRUE_COUNT, Length: 177, dtype: int64

In [188]:
df.dtypes

ORGANIZATION_ID              object
ACTIVITY_NAME                object
TIMESTAMP            datetime64[ns]
CONVERTED                      bool
CONVERTED_AT         datetime64[ns]
TRIAL_START          datetime64[ns]
TRIAL_END            datetime64[ns]
ACTIVITY_CATEGORY            object
dtype: object

In [189]:
# Save a cleaned events dataset
events_clean = df.copy()

events_path = Path("Silver/events_clean.csv")
events_clean.to_csv(events_path, index=False)

In [190]:
df = pd.read_csv(
    events_path, parse_dates=["TIMESTAMP", "CONVERTED_AT", "TRIAL_START", "TRIAL_END"]
)

In [206]:
KEY_ACTIVITIES = [
    "Scheduling.Shift.Created",
    "Scheduling.Template.ApplyModal.Applied",
    "PunchClock.PunchedIn",
    "Absence.Request.Created",
    "Scheduling.Shift.Approved",
]
# first activity timestamps by org
first_event = df.groupby("ORGANIZATION_ID")["TIMESTAMP"].min().rename("FIRST_EVENT_AT")
# first key activity per org
is_key = df["ACTIVITY_NAME"].isin(KEY_ACTIVITIES)
first_key = (
    df.loc[is_key]
    .groupby("ORGANIZATION_ID")["TIMESTAMP"]
    .min()
    .rename("FIRST_KEY_EVENT_AT")
)
# conversion per org
conv = df.groupby("ORGANIZATION_ID").agg(
    CONVERTED=("CONVERTED", "max"),
    CONVERTED_AT=("CONVERTED_AT", "max"),
    TRIAL_START=("TRIAL_START", "max"),
    TRIAL_END=("TRIAL_END", "max"),
    EVENTS=("TIMESTAMP", "count"),
)
# Only calculate where both dates exist
# Only calculate when both columns exist
mask = conv["CONVERTED_AT"].notna() & conv["TRIAL_START"].notna()

conv.loc[mask, "TIME_TO_CONVERT_DAYS"] = (
    conv.loc[mask, "CONVERTED_AT"] - conv.loc[mask, "TRIAL_START"]
).dt.days.astype(
    "Int64"
)  # integer days


# Quick stats
print(conv["TIME_TO_CONVERT_DAYS"].describe())

# Check unrealistic
print(conv[(conv["TIME_TO_CONVERT_DAYS"] < 0) | (conv["TIME_TO_CONVERT_DAYS"] > 365)])


# Active days overall and in week 1
df["DATE"] = df["TIMESTAMP"].dt.date
active_days = df.groupby("ORGANIZATION_ID")["DATE"].nunique().rename("ACTIVE_DAYS")

# Week 1 window
df["DAYS_FROM_TRIAL_START"] = (
    df["TIMESTAMP"] - df["TRIAL_START"]
).dt.total_seconds() / (3600 * 24)
week1 = df[df["DAYS_FROM_TRIAL_START"].between(0, 7, inclusive="both")]
active_days_w1 = (
    week1.groupby("ORGANIZATION_ID")["DATE"].nunique().rename("ACTIVE_DAYS_WEEK1")
)
events_w1 = week1.groupby("ORGANIZATION_ID")["TIMESTAMP"].count().rename("EVENTS_WEEK1")
# Merge summaries
org_summary = conv.join(
    [first_event, first_key, active_days, active_days_w1, events_w1]
).reset_index()
# Activation rate proxy: did org perform any key activity in week 1?
w1_key = week1.assign(IS_KEY=week1["ACTIVITY_NAME"].isin(KEY_ACTIVITIES))
w1_key_flag = (
    w1_key.groupby("ORGANIZATION_ID")["IS_KEY"].any().rename("ACTIVATED_IN_WEEK1")
)
org_summary = org_summary.join(w1_key_flag, on="ORGANIZATION_ID")

# Category counts per org (for explainability in BI)
cat_counts = (
    df.groupby(["ORGANIZATION_ID", "ACTIVITY_CATEGORY"])
    .size()
    .reset_index(name="EVENTS_COUNT")
)

count        206.0
mean     30.271845
std       8.207307
min           14.0
25%           25.0
50%           30.0
75%           36.0
max           64.0
Name: TIME_TO_CONVERT_DAYS, dtype: Float64
Empty DataFrame
Columns: [CONVERTED, CONVERTED_AT, TRIAL_START, TRIAL_END, EVENTS, TIME_TO_CONVERT_DAYS]
Index: []

In [192]:
org_summary_path = Path("Gold/org_summary.csv")
cat_counts_path = Path("Gold/activity_counts.csv")
org_summary.to_csv(org_summary_path, index=False)
cat_counts.to_csv(cat_counts_path, index=False)

In [ ]:
# Create a Date dimension for Power BI
df = pd.read_csv(
    "Silver/events_clean.csv", parse_dates=["TIMESTAMP", "TRIAL_START", "TRIAL_END"]
)

min_date = min(df["TIMESTAMP"].min(), df["TRIAL_START"].min())
max_date = max(df["TIMESTAMP"].max(), df["TRIAL_END"].max())

date_range = pd.date_range(
    start=min_date.normalize(), end=max_date.normalize(), freq="D"
)
dim_date = pd.DataFrame({"DATE": date_range})
dim_date["DATE_KEY"] = dim_date["DATE"].dt.strftime("%Y%m%d").astype(int)
dim_date["YEAR"] = dim_date["DATE"].dt.year
dim_date["QUARTER"] = dim_date["DATE"].dt.quarter
dim_date["MONTH"] = dim_date["DATE"].dt.month
dim_date["MONTH_NAME"] = dim_date["DATE"].dt.month_name()
dim_date["WEEK"] = dim_date["DATE"].dt.isocalendar().week.astype(int)
dim_date["DOW"] = dim_date["DATE"].dt.dayofweek + 1  # 1=Mon
dim_date["DAY"] = dim_date["DATE"].dt.day

date_dim_path = Path("Gold/dim_date.csv")
dim_date.to_csv(date_dim_path, index=False)

In [ ]:
df = pd.read_csv("Bronze/DA task.csv")
df["CONVERTED_AT"] = pd.to_datetime(
    df["CONVERTED_AT"], format="%Y-%m-%d %H:%M:%S.%f", errors="coerce"
)

min_date = df["CONVERTED_AT"].min()
max_date = df["CONVERTED_AT"].max()

date_range = pd.date_range(
    start=min_date.normalize(), end=max_date.normalize(), freq="D"
)
dim_date = pd.DataFrame({"DATE": date_range})
dim_date["DATE_KEY"] = dim_date["DATE"].dt.strftime("%Y%m%d").astype(int)
dim_date["YEAR"] = dim_date["DATE"].dt.year
dim_date["QUARTER"] = dim_date["DATE"].dt.quarter
dim_date["MONTH"] = dim_date["DATE"].dt.month
dim_date["MONTH_NAME"] = dim_date["DATE"].dt.month_name()
dim_date["WEEK"] = dim_date["DATE"].dt.isocalendar().week.astype(int)
dim_date["DOW"] = dim_date["DATE"].dt.dayofweek + 1  # 1=Mon
dim_date["DAY"] = dim_date["DATE"].dt.day

date_dim_path = Path("Gold/dim_org_summary_date.csv")
dim_date.to_csv(date_dim_path, index=False)